<!DOCTYPE html>
<html lang="en">

{% include head.html %}

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}

<body class="{{layout}}">
    {% include nav.html %}

    <div id="lunrsearchresults">
        <ul></ul>
    </div>

    <div class="site-content">
        <div class="container">
            <div class="main-content">{{ content }}</div>
        </div>

        {% include footer.html %}

    </div>

    <!-- no use of a tool tip right now -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script> -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>

    {% if site.lazyimages == "enabled" %}
    <script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
    {% endif %}
</body>

</html>